
.pink{
    color: #ff2492;
}


/*garder le texte des cartes projets en noir sans le style bootstrap sur les liens*/
.text-card{
    color: black;
}

.text-card:hover{
    color: black;
} 


/*hover sur les cartes projets*/
.opacitycard:hover{
    opacity:0.7;
    background-color: rgba(255, 255, 255, 0.3) ;
}




/*bg des pages*/
.bg-img{
    background-image: url(../medias/nebula-at-ChikaiDu-pixabay2.jpg);
    background-position: center; 
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*bg blanc pour rendre le txt plus lisible*/
.bg-wht{
    background-color: rgba(255, 255, 255, 0.5) ;
}

/*taille des icones*/
i{
    font-size: 2em;
    margin: 0.25em;
}

/*pas de retour à la ligne du texte*/
.nowrap{
    white-space: nowrap;
}

/*indentation du text dans l'index des projets*/
.indent{
    text-indent: 10%;
}


/*boutons de navigation*/
.profil{
    left:0;
    z-index: 1000;
}

.menu{
    right: 0;
    z-index: 1000;
}

.next{
    right: 0;
    top: 45%;
    z-index: 1000;
}

.prev{
    left: 0px;
    top:45%;
    z-index: 1000;
}

/*taille variable des boutons*/
@media (max-width: 768px) {
    i{
        font-size: 1.5em;
        margin: 0.25em;
    }
}








/*div avec ratio*/
.ratio{
    width:100%;
    position: relative;
    background-position: center; 
    background-size: cover;
}

.ratio.ratio3-4{
    padding-top: 56.25%;
}

.ratio.ratio1-1{
    padding-top: 100%;
}



/*img des div avec ratio*/
.bg-projet1{
    background-image: url(../medias/jeu.png);
    background-position: bottom;
}

.bg-projet2{
    background-image: url(../medias/calendar.png);
}

.bg-projet3{
    background-image: url(../medias/blog.png);
}

.bg-projet4{
    background-image: url(../medias/ecommerce.png);
}

.bg-projet5{
    background-image: url(../medias/flous.png);
}

.bg-avatar{
    background-image: url(../medias/avatar.jpg)
}




/*pages projet, icones des liens à consulter, superposition à l'mg de presentation*/
.consult{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}



/*légendes au hover*/
.legend span{
    visibility: hidden
}

.legend:hover span{
    visibility: visible
}

.legendup > span{
    visibility: hidden
}

.legendup:hover > span{
    visibility: visible
}




