/* 
|||||||||||||||||||||||
|||||||||||||||||||||||
|||||||||||||||||||||||
*/



html {
	margin:0px;
	padding:0px;
}

body {
    background-color: rgb(10, 10, 44);
	margin:0px;
    padding:0px;
}

#viewport{
    height: 100vh;
    width: 100vw;
}

#gameBoard {
    position: relative;
    background-color: #0a0a2c;
    background-image: url(../medias/fond.png);
    background-size : cover;
	width:790px;
	height:790px;
    margin:auto;
    margin-top:5px;
    display :block;
}


/* 
|||||||||||||||||||||||
|||||||||||||||||||||||
|||||||||||||||||||||||
*/


#musicBtn{
    margin-top:5px;
    margin-left: 10px;
    height: 70px;
    width: 100%;
    font-size: 3em;
    color:grey;
    position: absolute;
    left: 5px;
    bottom : 0px;
}

.fa-volume-up{
    opacity:.2;
}

.fa-volume-off{

    animation: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-name: musicShine;
}

@keyframes musicShine{
    0%{
        opacity: .2;
    }

    100%{
        opacity: .5;
    }
}


/* 
|||||||||||||||||||||||
|||||||||||||||||||||||
|||||||||||||||||||||||
*/


.welcomeMessage{
    top: 27px;
    left: 27px;
    height: 608px;
    width: 732px;
    background-color: rgba(116, 116, 116, 0.9);
    /* color:rgb(10, 10, 44); */
    color : white;
    border-radius: 25px;
    border: 2px solid rgb(207, 207, 207);
    text-align : center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.welcomeMessage h2{
    margin-top: 100px;
    margin-bottom: 75px;
}

.welcomeMessage p{
    margin: 50px;
}

#bigOk{
    font-size: 5em;
    margin-top: 100px;
    margin-bottom: 0;
    margin-inline: 250px;
    border:1px solid  rgba(255, 255, 255, .3);
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
}

#bigOk:hover{
    background-color: rgba(255, 255, 255, .1);
}

#playWNoSound{
    margin-top: 0;
    margin-inline: 250px;
    border:1px solid  rgba(255, 255, 255, .3);
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
    font-size: .5em;
    text-transform: none;
}

#playWNoSound:hover{
    background-color: rgba(255, 255, 255, .1);
}


/* 
|||||||||||||||||||||||
|||||||||||||||||||||||
|||||||||||||||||||||||
*/



.element {
    position : absolute;
}


.starUnselect{
    opacity: .7;
}



/* 
|||||||||||||||||||||||
|||||||||||||||||||||||
|||||||||||||||||||||||
*/


.ohNoYouRLate{
    color : red;
}


/* 
|||||||||||||||||||||||
|||||||||||||||||||||||
|||||||||||||||||||||||
*/



.grandeOurse{
    position: absolute;
}

.hide{
    display: none;
}


.grandeOurseWin{
    animation: 3s;
    animation-fill-mode: forwards;
    animation-name: grandeOurseShine;
    z-index: 1000;
}


.grandeOurseWinHalo{
    animation-delay: 3s;
    animation: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-name: grandeOurseShine;
    opacity: 0;
}

@keyframes grandeOurseShine{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.2;
    }

    90%{
        opacity: .8;
    }
    100%{
        opacity: 1;
    }
}

#youWin{
    color: white;
    position : absolute;
    width: 100%;

}

#youWin p{
    position : absolute;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#p1YouWin{
    left: 50px;
    top: 30px;
    font-size: .9em;
}
#p2YouWin{
    left: 40px;
    top: 510px;
    animation-delay: 4s;
    opacity : 0;
}
#p3YouWin{
    left : 55px;
    top:550px;
    animation-delay: 8s;
    opacity : 0;
}
#p4YouWin{
    left: 100px;
    top: 590px;
    animation-delay: 12s;
    opacity: 0;
}


.omgYouWin{
    animation: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-name: omgYouWinShine;
}


@keyframes omgYouWinShine{
    0%{
        opacity: .3;
    }
    10%{
        opacity: .4;
    }

    90%{
        opacity: .9;
    }
    100%{
        opacity: 1;
    }
}